<main class="container">
<%= link_to sanitize("&larr; Back to quotes"), quote_path(@quote) %>
  <div class="heaader">
    <h1>Edit quote</h1>
  </div>
<%= turbo_frame_tag @quote do%>
  <%= render 'form',qute: @quote %>
<% end %>
</main>